<p-toast></p-toast>

<p-dialog [blockScroll]="true" [draggable]="false" [modal]="true"
    header="Deseas inscribirte a: {{this.selectedTeam.name}}" [(visible)]="showRequest"
    [style]="{ width: '80vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Deseas inscribirte a: {{this.selectedTeam.name}}</span>
    </ng-template>
    <p-divider></p-divider>

    <div class="content-container">
        <p>Escribe un mensaje para que te acepten:</p>
        <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="request.message"
                    name="description" [maxlength]="255" placeholder="Mensaje"
                    required></textarea>
        <p-button (click)="sendRequest()" [disabled]="request.message.length==0" label="Enviar" icon="pi pi-check" iconPos="right"></p-button>
    </div>
</p-dialog>
<div class="container">

    <div *ngIf="this.teams.length == 0">
        <p>NO HAY EQUIPOSSSS</p>
    </div>
    <p-card *ngFor="let team of teams; index as i; first as isFirst" header="{{team.name+'#'+team.id}}" subheader={{team.id}}
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            {{team.description}}
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Solicitar unirme" (click)="showRequestOverlay(team)" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

</div>