<p-toast></p-toast>
<div class="container">
    <div class="card">
        <div class="logo-container">
            <h1>ZNQ</h1>
        </div>
        <div class="form-container">
            <div class="form">

                <form name="userLoginForm" #userLoginForm="ngForm" (ngSubmit)="onSubmit()">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pattern="^[a-zA-Z0-9]+$" name="username" required pInputText [(ngModel)]="username" placeholder="Usuario" #user="ngModel">
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-verified"></i>
                        <input type="password" name="password" required pInputText [(ngModel)]="password" placeholder="Contraseña" #pass="ngModel">
                    </span>

                    <p-button  [disabled]="!userLoginForm.form.valid"  label="Ingresar" styleClass="p-button-raised p-button-rounded p-button-success"
                    type="submit"></p-button>

                </form>




                <p-button label="Registrarse" styleClass="p-button-raised p-button-danger p-button-rounded"
                    routerLink="/signup"></p-button>
                <p-button label="¿Olvidaste tu contraseña?"
                    styleClass="p-button-raised p-button-text p-button-secondary p-button-outlined"
                    routerLink="/login/restore_password"></p-button>

            </div>
        </div>
    </div>
</div>