<div class="container">
    <p-card header="Recuperar contraseña">
        <p-divider></p-divider>
        <div class="form-container">
            <form name="restorePasswordForm" #restorePasswordForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-column gap-2">
                    <label htmlFor="email">Correo del sistema</label>
                    <input pInputText required email name="email" id="email" [(ngModel)]="emailForRestore" #email="ngModel"/>
                    <small id="email-help">Ingresa el correo usado para registrarte</small>
                    <p-message [style]="{width: '100%'}" [hidden]="email.valid || email.pristine" severity="error"
                    text="Debes colocar un correo válido"></p-message>
                </div>

                <p-button type="submit" label="Enviar" [disabled]="!restorePasswordForm.form.valid"
                    styleClass="p-button-raised p-button-success"></p-button>
            </form>
        </div>
    </p-card>
</div>