<!-- 
    <p-toolbar [style]="{'background':'#0B4940'}">
    </p-toolbar>
 -->
<p-toast></p-toast>

<p-dialog [blockScroll]="true" [draggable]="false" [modal]="true"
    header="Error en el login" [(visible)]="showLoginFailure" [closable]="false"
    [style]="{ width: '80vw' }">

    <div class="content-container">
        <h1>Ha ocurrido un error al loguearte tienes que volver a intentarlo</h1>
        <div class="button-container">
            <p-button label="Aceptar" (onClick)="logOut()"
                styleClass="p-button-rounded"></p-button>
        </div>
    </div>

</p-dialog>

<p-dialog [blockScroll]="true" [draggable]="false" [modal]="true"
    header="Tus invitaciones {{this.authService.currentUserValue.username}}" [(visible)]="showInvitations"
    [style]="{ width: '80vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Tus invitaciones {{this.authService.currentUserValue.username}}</span>
    </ng-template>
    <p-divider></p-divider>

    <div class="content-container">
        <p *ngIf="this.invitations.length==0">
            No tienes invitationes
        </p>
        <div class="invitations-container" *ngFor="let invitation of invitations; let i = index">

            <div class="main-content">
                <h1>#{{i+1}}</h1>
                <div class="info-container">
                    <h5>Usuario que envía: {{invitation.userOwner.username}}</h5>
                    <h5>Equipo al que entrarás: {{invitation.teamId.name}}</h5>
                    <h5>Mensaje: {{invitation.message}}</h5>
                </div>
            </div>
            <div class="button-container">
                <p-button label="Aceptar" (onClick)="acceptInvitation(invitation, i)"
                    styleClass="p-button-rounded"></p-button>
                <p-button label="Rechazar" (onClick)="declineInvitation(invitation, i)"
                    styleClass="p-button-rounded p-button-danger"></p-button>
            </div>

        </div>
    </div>
</p-dialog>

<p-menubar [model]="items" [autoDisplay]="true">
    <ng-template pTemplate="start">
        <img src="/assets/icon.png" height="40" style="margin-right: 20px; margin-left: 10px;">
    </ng-template>



    <ng-template pTemplate="end">
        <div class="end-container">
            <h2>Bienvenido: {{this.authService.currentUserValue.username}}</h2>
            <span class="p-buttonset">

                <p-button label="Invitaciones" badge="{{this.invitations.length}}"
                    (click)="showInvitationOverlay()"></p-button>
                <p-button label="Salir" (onClick)="logOut()" icon="pi pi-sign-out"
                    styleClass="p-button-danger"></p-button>
            </span>
        </div>
    </ng-template>
</p-menubar>
<router-outlet></router-outlet>