.p-buttonset{
    p-button{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;

}

.invitations-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    align-self: flex-start;
    gap: 20px;
}
.button-container{
    display: flex;
    gap: 10px;
}

